.App {
  text-align: center;
}

span {
  color: #ffc000;
}

hr.footer {
  border-top: 1px dotted #ededed;
}

hr.info {
  border-top: 1px solid #ffc000;
}

hr.infoPoints {
  border-top: 1px dotted #ffc000;
}

a:hover {
  color: #ffc000;
}
